.card.mt-3
  .card-body
    %h5.card-title= record.name
    %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('actor')}: #{record.actor}"
    %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('defendant')}: #{record.defendant}"
    %p.card-text= record.summary
    = link_to t('show_record'), record_url(record.id)
