.container
  .row.justify-content-center
    .col.col-6.pt-5
      = t('search_record_by_name')

      = form_tag search_path, method: 'get', class: 'pt-5' do
        .form-group
          = text_field_tag 'name', '', placeholder: 'Pedro Perafán ...', class: 'form-control'
        .form-group
          = submit_tag t('search'), class: 'btn btn-primary'

  .row.mt-5
    %h1= t('last_records')
    - @records.each do |record|
      = render 'records/record', record: record
