.container
  .row.justify-content-center
    .col.col-6.pt-5
      = "#{t('create_record')}."
      = t('enter_url_domain')

      = form_tag records_url, class: 'pt-5' do
        .form-group
          = text_field_tag 'url', '', placeholder: 'https://www.poderjudicialvirtual.com/...', class: 'form-control'
        .form-group
          = submit_tag t('create_record'), class: 'btn btn-primary'

