.container
  .row
    .card
      .card-body
        %h5.card-title= @record.name
        %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('actor')}: #{@record.actor}"
        %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('defendant')}: #{@record.defendant}"
        %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('court')}: #{@record.court}"
        %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('city')}: #{@record.city}"
        %h6.card-subtitle.mb-2.text-muted= "#{Record.human_attribute_name('code')}: #{@record.code}"
        %p.card-text= @record.summary

    %h4.mt-3 = t('notifications')

    - if @record.notifications.count.zero?
      = t('no_notifications')
    - else
      - @record.notifications.each do |notification|
        .card.mt-3
          .card-body
            %h6.card-subtitle.mb-2.text-muted= notification.date
            %p.card-text= notification.message
