!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %meta{content_container: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title PoderJudicial
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{ href: '#'} PoderJudicial
      %button.navbar-toggler{'data-target': '#navbar', 'data-toggle': 'collapse', type: 'button'}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to t('create_record'), new_record_path, class: 'nav-link'
          %li.nav-item
            = link_to t('search_by_defendant'), records_path, class: 'nav-link'

    - flash.each do |_type, msg|
      .alert{ class: "alert-danger" }
        %span.ml-2
          = msg['data']

    = yield
